b {
  font-weight: 600;
}

@font-face {
  font-family: 'MyWebFont';
  src: url('webfont.eot');
  src: url('webfont.eot?#iefix') format('embedded-opentype')
}

b {
  font-weight: 600;
}

@media (max-width: 600px) {
  .facet_sidebar {
    display: none;
  }
  .sp {
    display: none;
  }
}

b {
  font-weight: 600;
}