$color-primary: #238fb2;
$color-background: #fff;

@import "compass";

@import "base/reset";
@import "base/fonts";
@import "base/buttons";
@import "base/headings";
@import "base/main";

@import "block/layout";

@import "block/chrome";
@import "block/form";
@import "block/header";
@import "block/report";
@import "block/tabs";
