#cssdig {
    display: none;
    flex-direction: column;
    height: 100%;
    min-width: 960px;
    background: $color-background url(../i/icon48.png) 20px 20px no-repeat;
    background-size: 24px auto;
    padding: 60px 20px 20px;
}

header {
    display: flex;
    align-items: center;
}

#report-data {
    display: flex;
    flex: 1;
}

#report-properties,
#report-css {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    overflow-y: scroll;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.overflow-y {
    overflow-y: scroll;
}

.align--center {
    align-items: center;
}

.flex--column {
    flex-direction: column;
}

.anchor--right {
    margin-left: auto;
}

.push--left {
    margin-left: 10px;
}

.push--right {
    margin-right: 10px;
}

.push--bottom {
    margin-bottom: 10px;
}