#stats {
    border-bottom: 1px solid darken($color-background, 3%);
    padding: 20px;

    table {

        td {
            padding: 0 0 4px;
            font-size: 11px;
            color: #999;
        }

        tr td:first-child {
            padding-right: 15px;
            text-transform: uppercase;
            text-align: right;
            letter-spacing: 1px;
            font-size: 11px;
        }
    }
}
